profile-wrap {
  font-family: Helvetica, arial, freesans, clean, sans-serif;
  font-size: 14px;
  line-height: 1.6;
  color: #333;
  background-color: #fff;
  padding: 20px;
  max-width: 960px;
  margin: 0 auto
  /* BLOCKS
=============================================================================*/
  /* HEADERS
=============================================================================*/
  /* LINKS
=============================================================================*/
  /* LISTS
=============================================================================*/
  /* CODE
=============================================================================*/
  /* QUOTES
=============================================================================*/
  /* HORIZONTAL RULES
=============================================================================*/
  /* TABLES
=============================================================================*/
  /* IMAGES
=============================================================================*/
  /* Comment */
  /* Error */
  /* Keyword */
  /* Operator */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Deleted.Specific */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Inserted.Specific */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Namespace */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
profile-wrap > *:first-child {
  margin-top: 0 !important;
}
profile-wrap > *:last-child {
  margin-bottom: 0 !important;
}
profile-wrap p,
profile-wrap blockquote,
profile-wrap ul,
profile-wrap ol,
profile-wrap dl,
profile-wrap table,
profile-wrap pre {
  margin: 15px 0;
}
profile-wrap h1,
profile-wrap h2,
profile-wrap h3,
profile-wrap h4,
profile-wrap h5,
profile-wrap h6 {
  margin: 20px 0 10px;
  padding: 0;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
}
profile-wrap h1 tt,
profile-wrap h1 code,
profile-wrap h2 tt,
profile-wrap h2 code,
profile-wrap h3 tt,
profile-wrap h3 code,
profile-wrap h4 tt,
profile-wrap h4 code,
profile-wrap h5 tt,
profile-wrap h5 code,
profile-wrap h6 tt,
profile-wrap h6 code {
  font-size: inherit;
}
profile-wrap h1 {
  font-size: 28px;
  color: #000;
}
profile-wrap h2 {
  font-size: 24px;
  border-bottom: 1px solid #ccc;
  color: #000;
}
profile-wrap h3 {
  font-size: 18px;
}
profile-wrap h4 {
  font-size: 16px;
}
profile-wrap h5 {
  font-size: 14px;
}
profile-wrap h6 {
  color: #777;
  font-size: 14px;
}
profile-wrap body > h2:first-child,
profile-wrap body > h1:first-child,
profile-wrap body > h1:first-child + h2,
profile-wrap body > h3:first-child,
profile-wrap body > h4:first-child,
profile-wrap body > h5:first-child,
profile-wrap body > h6:first-child {
  margin-top: 0;
  padding-top: 0;
}
profile-wrap a:first-child h1,
profile-wrap a:first-child h2,
profile-wrap a:first-child h3,
profile-wrap a:first-child h4,
profile-wrap a:first-child h5,
profile-wrap a:first-child h6 {
  margin-top: 0;
  padding-top: 0;
}
profile-wrap h1 + p,
profile-wrap h2 + p,
profile-wrap h3 + p,
profile-wrap h4 + p,
profile-wrap h5 + p,
profile-wrap h6 + p {
  margin-top: 10px;
}
profile-wrap a {
  color: #4183C4;
  text-decoration: none;
}
profile-wrap a:hover {
  text-decoration: underline;
}
profile-wrap ul,
profile-wrap ol {
  padding-left: 30px;
}
profile-wrap ul li > :first-child,
profile-wrap ol li > :first-child,
profile-wrap ul li ul:first-of-type,
profile-wrap ol li ol:first-of-type,
profile-wrap ul li ol:first-of-type,
profile-wrap ol li ul:first-of-type {
  margin-top: 0px;
}
profile-wrap ul ul,
profile-wrap ul ol,
profile-wrap ol ol,
profile-wrap ol ul {
  margin-bottom: 0;
}
profile-wrap dl {
  padding: 0;
}
profile-wrap dl dt {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
  padding: 0;
  margin: 15px 0 5px;
}
profile-wrap dl dt:first-child {
  padding: 0;
}
profile-wrap dl dt > :first-child {
  margin-top: 0px;
}
profile-wrap dl dt > :last-child {
  margin-bottom: 0px;
}
profile-wrap dl dd {
  margin: 0 0 15px;
  padding: 0 15px;
}
profile-wrap dl dd > :first-child {
  margin-top: 0px;
}
profile-wrap dl dd > :last-child {
  margin-bottom: 0px;
}
profile-wrap pre,
profile-wrap code,
profile-wrap tt {
  font-size: 12px;
  font-family: Consolas, "Liberation Mono", Courier, monospace;
}
profile-wrap code,
profile-wrap tt {
  margin: 0 0px;
  padding: 0px 0px;
  white-space: nowrap;
  border: 1px solid #eaeaea;
  background-color: #f8f8f8;
  border-radius: 3px;
}
profile-wrap pre > code {
  margin: 0;
  padding: 0;
  white-space: pre;
  border: none;
  background: transparent;
}
profile-wrap pre {
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
}
profile-wrap pre code,
profile-wrap pre tt {
  background-color: transparent;
  border: none;
}
profile-wrap kbd {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #DDDDDD;
  background-image: -webkit-linear-gradient(#f1f1f1, #dddddd);
  background-image: linear-gradient(#f1f1f1, #dddddd);
  background-repeat: repeat-x;
  border-color: #DDDDDD #CCCCCC #CCCCCC #DDDDDD;
  -webkit-border-image: none;
       -o-border-image: none;
          border-image: none;
  border-radius: 2px 2px 2px 2px;
  border-style: solid;
  border-width: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 10px;
  padding: 1px 4px;
}
profile-wrap blockquote {
  border-left: 4px solid #DDD;
  padding: 0 15px;
  color: #777;
}
profile-wrap blockquote > :first-child {
  margin-top: 0px;
}
profile-wrap blockquote > :last-child {
  margin-bottom: 0px;
}
profile-wrap hr {
  clear: both;
  margin: 15px 0;
  height: 0px;
  overflow: hidden;
  border: none;
  background: transparent;
  border-bottom: 4px solid #ddd;
  padding: 0;
}
profile-wrap table th {
  font-weight: bold;
}
profile-wrap table th,
profile-wrap table td {
  border: 1px solid #ccc;
  padding: 6px 13px;
}
profile-wrap table tr {
  border-top: 1px solid #ccc;
  background-color: #fff;
}
profile-wrap table tr:nth-child(2n) {
  background-color: #f8f8f8;
}
profile-wrap img {
  max-width: 100%;
}
profile-wrap .highlight {
  background: #ffffff;
}
profile-wrap .highlight .c {
  color: #999988;
  font-style: italic;
}
profile-wrap .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}
profile-wrap .highlight .k {
  font-weight: bold;
}
profile-wrap .highlight .o {
  font-weight: bold;
}
profile-wrap .highlight .cm {
  color: #999988;
  font-style: italic;
}
profile-wrap .highlight .cp {
  color: #999999;
  font-weight: bold;
}
profile-wrap .highlight .c1 {
  color: #999988;
  font-style: italic;
}
profile-wrap .highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}
profile-wrap .highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}
profile-wrap .highlight .gd .x {
  color: #000000;
  background-color: #ffaaaa;
}
profile-wrap .highlight .ge {
  font-style: italic;
}
profile-wrap .highlight .gr {
  color: #aa0000;
}
profile-wrap .highlight .gh {
  color: #999999;
}
profile-wrap .highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}
profile-wrap .highlight .gi .x {
  color: #000000;
  background-color: #aaffaa;
}
profile-wrap .highlight .go {
  color: #888888;
}
profile-wrap .highlight .gp {
  color: #555555;
}
profile-wrap .highlight .gs {
  font-weight: bold;
}
profile-wrap .highlight .gu {
  color: #aaaaaa;
}
profile-wrap .highlight .gt {
  color: #aa0000;
}
profile-wrap .highlight .kc {
  font-weight: bold;
}
profile-wrap .highlight .kd {
  font-weight: bold;
}
profile-wrap .highlight .kp {
  font-weight: bold;
}
profile-wrap .highlight .kr {
  font-weight: bold;
}
profile-wrap .highlight .kt {
  color: #445588;
  font-weight: bold;
}
profile-wrap .highlight .m {
  color: #009999;
}
profile-wrap .highlight .s {
  color: #dd1144;
}
profile-wrap .highlight .na {
  color: #008080;
}
profile-wrap .highlight .nb {
  color: #0086b3;
}
profile-wrap .highlight .nc {
  color: #445588;
  font-weight: bold;
}
profile-wrap .highlight .no {
  color: #008080;
}
profile-wrap .highlight .ni {
  color: #800080;
}
profile-wrap .highlight .ne {
  color: #990000;
  font-weight: bold;
}
profile-wrap .highlight .nf {
  color: #990000;
  font-weight: bold;
}
profile-wrap .highlight .nn {
  color: #555555;
}
profile-wrap .highlight .nt {
  color: #000080;
}
profile-wrap .highlight .nv {
  color: #008080;
}
profile-wrap .highlight .ow {
  font-weight: bold;
}
profile-wrap .highlight .w {
  color: #bbbbbb;
}
profile-wrap .highlight .mf {
  color: #009999;
}
profile-wrap .highlight .mh {
  color: #009999;
}
profile-wrap .highlight .mi {
  color: #009999;
}
profile-wrap .highlight .mo {
  color: #009999;
}
profile-wrap .highlight .sb {
  color: #dd1144;
}
profile-wrap .highlight .sc {
  color: #dd1144;
}
profile-wrap .highlight .sd {
  color: #dd1144;
}
profile-wrap .highlight .s2 {
  color: #dd1144;
}
profile-wrap .highlight .se {
  color: #dd1144;
}
profile-wrap .highlight .sh {
  color: #dd1144;
}
profile-wrap .highlight .si {
  color: #dd1144;
}
profile-wrap .highlight .sx {
  color: #dd1144;
}
profile-wrap .highlight .sr {
  color: #009926;
}
profile-wrap .highlight .s1 {
  color: #dd1144;
}
profile-wrap .highlight .ss {
  color: #990073;
}
profile-wrap .highlight .bp {
  color: #999999;
}
profile-wrap .highlight .vc {
  color: #008080;
}
profile-wrap .highlight .vg {
  color: #008080;
}
profile-wrap .highlight .vi {
  color: #008080;
}
profile-wrap .highlight .il {
  color: #009999;
}
profile-wrap .pl-c {
  color: #969896;
}
profile-wrap .pl-c1,
profile-wrap .pl-mdh,
profile-wrap .pl-mm,
profile-wrap .pl-mp,
profile-wrap .pl-mr,
profile-wrap .pl-s1 .pl-v,
profile-wrap .pl-s3,
profile-wrap .pl-sc,
profile-wrap .pl-sv {
  color: #0086b3;
}
profile-wrap .pl-e,
profile-wrap .pl-en {
  color: #795da3;
}
profile-wrap .pl-s1 .pl-s2,
profile-wrap .pl-smi,
profile-wrap .pl-smp,
profile-wrap .pl-stj,
profile-wrap .pl-vo,
profile-wrap .pl-vpf {
  color: #333;
}
profile-wrap .pl-ent {
  color: #63a35c;
}
profile-wrap .pl-k,
profile-wrap .pl-s,
profile-wrap .pl-st {
  color: #a71d5d;
}
profile-wrap .pl-pds,
profile-wrap .pl-s1,
profile-wrap .pl-s1 .pl-pse .pl-s2,
profile-wrap .pl-sr,
profile-wrap .pl-sr .pl-cce,
profile-wrap .pl-sr .pl-sra,
profile-wrap .pl-sr .pl-sre,
profile-wrap .pl-src,
profile-wrap .pl-v {
  color: #df5000;
}
profile-wrap .pl-id {
  color: #b52a1d;
}
profile-wrap .pl-ii {
  background-color: #b52a1d;
  color: #f8f8f8;
}
profile-wrap .pl-sr .pl-cce {
  color: #63a35c;
  font-weight: bold;
}
profile-wrap .pl-ml {
  color: #693a17;
}
profile-wrap .pl-mh,
profile-wrap .pl-mh .pl-en,
profile-wrap .pl-ms {
  color: #1d3e81;
  font-weight: bold;
}
profile-wrap .pl-mq {
  color: #008080;
}
profile-wrap .pl-mi {
  color: #333;
  font-style: italic;
}
profile-wrap .pl-mb {
  color: #333;
  font-weight: bold;
}
profile-wrap .pl-md,
profile-wrap .pl-mdhf {
  background-color: #ffecec;
  color: #bd2c00;
}
profile-wrap .pl-mdht,
profile-wrap .pl-mi1 {
  background-color: #eaffea;
  color: #55a532;
}
profile-wrap .pl-mdr {
  color: #795da3;
  font-weight: bold;
}
profile-wrap .pl-mo {
  color: #1d3e81;
}
profile-wrap .task-list {
  padding-left: 10px;
  margin-bottom: 0;
}
profile-wrap .task-list li {
  margin-left: 20px;
}
profile-wrap .task-list-item {
  list-style-type: none;
  padding-left: 10px;
}
profile-wrap .task-list-item label {
  font-weight: 400;
}
profile-wrap .task-list-item.enabled label {
  cursor: pointer;
}
profile-wrap .task-list-item + .task-list-item {
  margin-top: 3px;
}
profile-wrap .task-list-item-checkbox {
  display: inline-block;
  margin-left: -20px;
  margin-right: 3px;
  vertical-align: 1px;
}
