<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="/css/profile-201702.css">
</head>
<body>
<div class="profile-wrap">
<h4 id="-">基本信息</h4>
<p><strong>陈琋霖</strong><br>男| 1986/10<br>开始工作时间：2008<br>手机号码：<strong>13542508571</strong><br>邮箱：<strong><a href="13542508571@139.com">13542508571@139.com</a></strong><br>居住地：广州</p>
<hr>
<h4 id="-">工作经验</h4>
<p>2012/2―至今[4年11个月]<br>核心网维护组组长 | 核心网维护<br>广东宜通世纪科技股份有限公司<br>通信/电信/网络设备| 上市公司| 5000-10000人<br>工作描述：<br>在该公司担任中国移动广州分公司机楼核心网维护组组长一职，负责部门人员完成对移动机房通信设备的日常维护工作。<br>
<p>主要业绩：<br>项目优秀员工</p>
<hr>
<h4 id="-">自我评价：</h4>
<p>在移动机楼工作的几年期间，学习了与设备相关的脚本技术，有较好的代码编写应用经验。<br>有深厚的<strong>python</strong>语言基础，有操作<strong>shelve、sqlite3</strong>数据库的经验。<br>熟悉<strong>div+css，html，js，jquery，jqueryUI，bootstrap，</strong>了解<strong>angularjs，react，json，xml，php，nodejs，MySQL</strong>等。<br>了解<strong>linux</strong>及<strong>shell</strong>编程、有一定的<strong>C++</strong>语言基础。<br>能熟练使用<strong>sublime text2</strong>。<br><strong>大学英语四级</strong>，对<strong>excel</strong>操作报表制作等相当熟练。<br>工作细心，认真负责，很好的学习与自学能力，独立处理问题的能力及团队合作精神。</p>
<hr>
<h4 id="-">项目经验</h4>
<p>2016/12―2016/12<br>web动态登录\导航页面\3d旋转banner等<br>项目描述：<br>使用html，html5，div+css，js，jquery，bootstrap等制作的各种响应式页面与效果：</p>
<ol>
<li>3dbanner</li><li>.360换机页面</li><li>360首页</li><li>bootstrap响应式页面</li><li>ecshop商场后台登录界面</li><li>百度帐号登录</li><li>蘑菇街二级导航</li><li>腾讯客服页面</li></ol>
<p>网盘：<a href="pan.baidu.com/s/1bpquNcb">pan.baidu.com/s/1bpquNcb</a>\或者github<a href="https://itsilen.github.io/onHtmlMode">https://itsilen.github.io/onHtmlMode</a></p>
<p>2016/8―2016/8<br>Simple Desktop.exe<br>项目描述：<br>该项目主要是代替一般的桌面，可以把常用的应用整合到一起，比如qq、酷狗、邮箱，也可以把常用的网站快速添加到界面，比如百度翻译、游民星空～<br>直接配置了桌面ie搜索栏，在搜索栏输入然后回车就可在网上查找想要的内容，省去了点击ie浏览器的过程，提供直观的ie搜索功能。输入color可以改变背景颜色。<br>打开应用都是方便的以鼠标一键单击按钮式。该项目使联网搜索与本地应用更为直观的结合在一起。<br>使用python2..7与sqlite3数据库编写。</p>
<p>网盘：<a href="pan.baidu.com/s/1hrH6i1Y">pan.baidu.com/s/1hrH6i1Y</a></p>
<hr>
<h4 id="-">教育经历</h4>
<p>2002/9―2007/7<br>嘉应学院<br>大专| 英语</p>

</div>
</body>
</html>

