



{% if page.layout == "categories" %}
{% assign title = '分类' %}
{% assign icon = 'category' %}
{% endif %}


<div class="archive-title" >
<h2 class="{{ icon }}-icon"><span class='archive-folder'>{{ title }}</span></h2>


        <ul class="archive-list">
            <div class="archiveslist archive-float clearfix">
                {% for category in site.categories %}
                <li class="archive-list-item" style="display:none;">
                <a class="archive-list-link category-hook"  href="#{{ category[0] }}">{{ category[0] }}</a>
                <span class="archive-list-count">{{ category[1] | size }}</span>
                </li>
                {% endfor %}
                 
         </div>
         </ul>

 
 
</div>
<div id="main" class="archive-part clearfix">
    <div id="archive-page">
    {% for post in site.posts %}
    {% assign item = post %}
    {% assign index = true %}
    {% include _partial/article_row.html %}
    {% endfor %}

    </div>
</div>
<script>

   winHref  = window.location.href
    var aAll = document.getElementsByClassName("category-hook");
    for (i in aAll) {
        if (aAll[i].href === winHref) {
            aAll[i].parentNode.style.display = "block"
        }
    }


</script>