<div class="openaside" ><a class="navbutton" href="#" title="Show Sidebar"></a></div>
{% if table && (item.toc != false) && site.toc.aside %}
  <div id="toc" class="toc-aside toc-content">
 {% if item.list_number == false %}
 <!--<%- toc(item.content,{list_number:false}) %>-->
 {% else %}
 <!--<%- toc(item.content) %>-->
 {% endif %}
  </div>
{% endif %}
<div id="asidepart" style="display: none;" >
<div class="closeaside"><a class="closebutton" href="#" title="Hide Sidebar"></a></div>
<aside class="clearfix">

{% for widget in site.widgets %}
  {% include _widget/{{widget}}.html %}
{% endfor %}

</aside>
</div>

<script>
var winHash = window.location.hash;
var winHref = window.location.href;
var sBar = document.getElementById("asidepart");
if ((winHash==="#more" || !winHash ) && (winHref.indexOf("/archives/") === -1) ) {
    sBar.style.display = "block";
}

</script>