<!doctype html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>itsilen.github.io</title>
    <link rel="icon" type="image/x-icon" href="https://assets-cdn.github.com/favicon.ico">

    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/css/default.css">

</head>

<body>

    <div id="menu">
        {% include index.html %}
    </div>

    <!-- 超大屏幕 -->
    <div class="jumbotron ">
        <h2>个人主页</h2>
        <p>web前端，webapp, vuejs, reactjs, webpack, zeptojs, bootstrap, jquery, nodejs, ajax</p>
    </div>

    <!-- contant -->

    <div class="row cont">
        <div class="col-md-10 col-md-offset-1 col-xs-12 contcol">

            <!-- 左contant -->
            <div class="col-md-3  left">
                <div class="panel panel-default ">
                    <div class="panel-heading">简介</div>
                    <div class="panel-body left-body">
                        <img src="/images/user.jpg" alt=""><br><br />
                        <p>
                            Silen<br /> 广州
                            <br />
                            <a href="mailto:{{site.email}}">{{site.email}}</a><br /> GitHub:
                            <a href="https://itsilen.github.io">https://itsilen.github.io</a><br /><br /><br /><br /> 一些页面效果：
                            <br />
                            <a href="https://itsilen.github.io/onHtmlMode">https://itsilen.github.io/onHtmlMode</a><br />
                        </p>
                    </div>
                </div>
            </div>

            <!-- 右contant -->
            <div class="col-md-9  right">
               <!--  <div id="tabs">
                    <ul>
                        <li><a href="#tabs-1" onclick="getMenu()">文档目录</a></li>
                        <li><a href="#tabs-2">关于我</a></li>
                        <li><a href="#tabs-3">技能树</a></li>
                    </ul>
                    <div id="tabs-1">

                        <p> {{content}}</p>
                    </div>
                    <div id="tabs-2">
                        <p>
                            {% include profile-201702.html %}
                        </p>
                    </div>

                    <div id="tabs-3">
                        <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora
                            torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a,
                            lacus.</p>
                        <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel
                       
                    </div>
                </div> -->
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active" onclick="getMenu()"><a href="#tabs-1" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
                        <li role="presentation"><a href="#tabs-2" aria-controls="profile" role="tab" data-toggle="tab">Profile</a></li>
                        <li role="presentation"><a href="#tabs-3" aria-controls="messages" role="tab" data-toggle="tab">Messages</a></li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="tabs-1">
                            {{content}}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tabs-2">
                            {% include profile-201702.html %}
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tabs-3">
                            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti. Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum erat, eu congue orci lorem eget lorem. Vestibulum non ante. Class aptent taciti sociosqu ad litora
                                torquent per conubia nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna vel enim commodo pellentesque. Praesent eu risus hendrerit ligula tempus pretium. Curabitur lorem enim, pretium nec, feugiat nec, luctus a,
                                lacus.</p>
                            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at, semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent viverra justo vitae neque. Praesent blandit adipiscing velit. Suspendisse potenti. Donec mattis, pede vel
                                pharetra blandit, magna ligula faucibus eros, id euismod lacus dolor eget odio. Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut sagittis. Donec nisi lectus, feugiat porttitor, tempor ac, tempor vitae, pede. Aenean
                                vehicula velit eu tellus interdum rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus. Vivamus a libero vitae lectus hendrerit hendrerit.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="btn-group-vertical" role="group" id="btn-top-content" aria-label="...">
        <a href="javascript:;" class="btn btn-default btn-top"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Top</a><a href="#footer" class="btn btn-default"><span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>Bottom</a>
    </div>

    <!-- 页脚 -->
    <div id="footer">
        Posted by: Silen, Contact information:
        <a href="mailto:{{site.email}}">email.</a>
    </div>

    <script>
        var menu = $("#menu").html();

        function getMenu() {
            $("#tabs-1").html(menu);
        }

        var timer = null;
        var isTop = true;
        // var clientHeight = document.documentElement.clientHeight || document.body.clientHeight;
        var clientHeight = $(window).height();

        $(window).scroll(function() {
            var osTop = $(window).scrollTop();

            if (osTop >= clientHeight) {
                $("#btn-top-content").css("display", "block");
            } else {
                $("#btn-top-content").css("display", "none");
            };
        })

        $(".btn-top").click(function() {
            $("body").animate({scrollTop: 0})
        })

    </script>

</body>

</html>
